@use 'src/styles/vars';

// PAGE COMPONENT

/* Mobile version */
.page {
  margin: 0 auto; 
  
  &-list {
    margin-top: 0rem;
  }

  &-container {
    width: 100%;

    &--container {
      background-color: rgba(52, 52, 52, 0.5);
      height: 100%;
    }

    &--title {
      text-align: center;
      padding-top: 4rem;
      font-size: 35px;
      color: vars.$light-color;
    }

    &--content {
      padding: 2rem;
  
      &__subtitle {
        text-align: justify;
        font-size: 20px;
        padding: 1rem 0;
        font-size: 25px;
      }
    
      &__img {
        display: flex;
        background-color: none;
        height: 46.4vh;
        width: 50vh;
        object-fit: cover;
        border-radius: 30px;
      }

      &__img-end {
        display: flex;
        background-color: vars.$imageBackground;
        height: 46.4vh;
        width: 50vh;
        object-fit: contain;
        border-radius: 30px;
        justify-content: center;
      }
    }

    &--choice {
      font-size: 25px;
      justify-content: center;
      
      

      &__content {
        text-align: center;
      }

      &__description {
        padding: 2rem;
      }

      &__button {
        margin: 2rem auto;
        width: 350px;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        color: vars.$light-color;
        border: none;
        border-radius: 50px;
      }

      &__button:hover {
        background-color: vars.$element-color-hover;
      }

      &__button-return {
        margin: 4rem auto 0 auto;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        border: none;
        font-size: 20px;
        font-family: vars.$buttonFont;
      }

      &__button-return:hover {
        background-color: vars.$element-color-hover;
      }
    }
  }
}



/* Tablet version */
@media (min-width:500px) {
  .page {
    &-container {
      width: 87vw;
      height: 110vh;
      border-radius: 30px;

      &--container {
        height: 110vh;
      }

      &--title {
        margin-bottom: 2rem;
      }
  
      &--content {
        &__subtitle {
          padding: 0 2rem;
        }
      }
  
      &--choice {
        margin: 0 auto;
  
        &__content {
          height: 160px;
          width: 90%;
          margin: 0 auto;
        }
  
        &__button {
          margin: 0 auto;
          width: 350px;
        }

        &__button-return {
          margin-top: 8rem;
        }
      }
    }
  }
}

/* Desktop version */
@media (min-width:800px) {
  .page-container {
    height: 105vh;

    &--container {
      height: 105vh;
    }
  }
}


/* Desktop version */
@media (min-width:990px) {
  .page-container {
    height: 78vh;

    &--container {
      height: 78vh;
    }


    &--content {
      display: flex;
      padding: 2rem;
    
      &__img {
        width: 100vw;
      }

      &__img-end {
        height: 40.7vh;
      }
    }

    &--choice {
      display: flex;
      margin-top: -1rem;

      &__content {
        width: 90%;
      }

      &__button {
        margin: 0 auto;
        width: 400px;
      }

      &__button-return {
        margin-top: 6rem;
      }
    }
  }
}

/* Desktop version */
@media (min-width:1600px) {
  .page-container {

    &--choice {
      display: flex;
      margin-top: 4rem;

      &__content {
        width: 90%;
      }

      &__button {
        margin: 0 auto;
        width: 400px;
      }

      &__button-return {
        margin-top: 6rem;
      }
    }
  }
}
