@use 'src/styles/vars';

.page {


  color: #fff;
  overflow-x: hidden;
  margin: 0 auto; 
  

  &-list {
    margin-top: 0rem;
  }
  

  &-container {
    opacity: 2;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 0;

    &--container {
      background-color: rgba(52, 52, 52, 0.5);
      height: 95vh;
      
    }

   

    &--title {
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
      font-size: 35px;
    }

    &--content {
      padding: 2rem;
      

  
      &__subtitle {
        text-align: justify;
        font-size: 20px;
        padding: 1rem 0;
        font-size: 25px;

      }
    
      &__img {
        display: flex;
        background-color: none;
        height: 46.4vh;
        width: 50vh;
        object-fit: cover;
        border-radius: 30px;

      }

      &__img-end {
        display: flex;
        background-color: antiquewhite;
        height: 46.4vh;
        width: 50vh;
        object-fit: contain;
        border-radius: 30px;
        justify-content: center;
      }
    }

    &--choice {
      font-size: 25px;
      justify-content: center;

      &__content {
        margin: 2rem;
        text-align: center;
        width: 60vh;
      }

      &__button {
        margin: 2rem auto;
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        color: #fff;
        border: none;
        border-radius: 50px;
      }

      &__button:hover {
        background-color: vars.$element-color-hover;
      }

      &__button-return {
        position: absolute;
        bottom: 0;
        margin: 4rem auto 0 auto;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$element-color;
        color: #fff;
        border: none;
        font-size: 20px;
      }



      &__button-return:hover {
        background-color: vars.$element-color-hover;
      }

    }
 

  }



}




@media (min-width:500px) {
  .page {

    opacity: 1;
    color: #fff;
    overflow-x: hidden;
    margin: 0 auto; 
    
  
    &-container {
      opacity: 2;
      width: 87vw;
      height: 78vh;
      border-radius: 30px;

      &--container {
        background-color: rgba(52, 52, 52, 0.5);
        height: 78vh;
        
      }

  
      &--title {
        text-align: center;
        margin-top: 2rem;
      }
  
      &--content {

  
        &__subtitle {
          text-align: justify;
          padding: 1rem;
        }
      
        &__img {
          object-fit: cover;
          border-radius: 30px;
  
        }

        &__img-end {
          display: flex;
          background-color: antiquewhite;
          object-fit: contain;
          border-radius: 30px;
          justify-content: center;
        }
      }
  
      &--choice {
        padding: 1rem;
  
        &__content {
          height: 100px;
          width: 90%;
        }
  
        &__button {
          margin: 0 auto;
          width: 300px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &__button-return {
          margin: 4rem auto 0 auto;
        }
  
      }
   
  
    }
  
    &-container::-webkit-scrollbar {
      width: 16px;
    }
    
    &-container::-webkit-scrollbar-track {
      background: black;
      border-radius: 50px;
    }
    
    &-container::-webkit-scrollbar-thumb {
      background-color: #cf5b3b;
      border: 4px solid transparent;
      border-radius: 8px;
      background-clip: padding-box;  
    }
  }
}

@media (min-width:990px) {
  .page-container {
    &--content {
      display: flex;
      padding: 1rem;

      &__subtitle {
        text-align: justify;
      }
    
      &__img {
        height: 46.4vh;
        width: 100vw;
        object-fit: cover;
        border-radius: 30px;

      }

      &__img-end {
        display: flex;
        background-color: antiquewhite;
        height: 40.7vh;
        width: 50vw;
        object-fit: contain;
        border-radius: 30px;
        justify-content: center;
      }
    
    }
    &--choice {
      display: flex;

      &__content {
        width: 90%;
      }
    }
  }
}
