@use 'sass:math';

// BASIC COLORS
$light-color: #fff;
$dark-color: #000;

// BUTTON AND BORDER COLORS
$element-color: #d06d6d;
$element-color-hover: #ac5858;

// BACKGROUND COLOR
$containerBackgroundColor: rgba(0,0,0,0.5);

// TITLE COLORS
$h1Color:#d06d6d;
$h2Color:#f1d180;
$h3Color:#d06d6d;

// IMAGE BACKGROUND COLOR
$imageBackground: antiquewhite;

// LINK UNDERLINE COLOR
$linkUnderline: #f1d180;

// FONTS
$titleFont: "Frank Ruhl Libre",serif;
$textFont: "Pompiere", sans-serif;

// INPUT STYLE
$inputBorder: 1px solid #ddd;
$inputColor: #999;
