@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Pompiere';
  src: url('../assets/fonts/Pompiere-Regular.ttf');
}

body {
  position: relative;
  font-family:'Pompiere', sans-serif;
  background: url(src/assets/images/home-backgroud-tawatchai07.jpg) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
  max-width: 100%;
}  // or you can import your own font
 

  // body {
  //   font-family: 'Roboto', sans-serif;
  // }

