@use 'reset';
@use 'vars';

@font-face {
  font-family: 'Pompiere';
  src: url('../assets/fonts/Pompiere-Regular.ttf');
}

body {
  font-family:'Pompiere', sans-serif;
  background: url(../assets/images/home-backgroud-tawatchai07.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 130vh;
}

 
  // or you can import your own font
 

  // body {
  //   font-family: 'Roboto', sans-serif;
  // }

