// import
@use 'src/styles/vars';


// GENERAL APP 

/*----- TRANSPARENT CONTAINER IN ALL OF PAGES -----*/

/* Mobile version */

.container {
  background-color: vars.$containerBackgroundColor;
  width: 100vw;
  height: 100vh;  
  margin-top: 0;
}

/* Desktop version */

@media (min-width:500px) {
  .container {
    width: 87vw;
    height: 78vh; 
    border-radius: 40px; 
    margin-top: -20px;
  }
}
