@use 'src/styles/vars';

/* PROFIL FORM */
.container {
  overflow: hidden;
}

.profil-form {

  color: #fff;
  padding: 2rem;
  text-align: center;

  &-container {
    width: 100%;
    margin-top: 2rem;
  }

  &-title {
    margin-top: 6rem;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &-button {
  
    display: flex;
    flex-direction: row;
    width: 100%;

    &--left {
      margin-top: 1rem;
      font-size: 1em;
      color: #fff;
      background-color: vars.$element-color;
      border: 0;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }
 
    &--right {
      margin-top: 1rem;
      font-size: 1em;
      color: #fff;
      background-color: vars.$element-color;
      border: none;
      width: 200px;
      border-radius: 50px;
      padding: 1rem;
    }

    &-button:hover {
      background-color: vars.$element-color-hover;
    }
  }
  
}

.field {
  margin: .3em .3em .3em 0;

  &-label {
    width: 100%;
    padding: 3em;
    height: 2.65em;
    font-size: 20px;
  }

  &-info-username {
    width: 100%;
    padding: .7em;
    font-size: 2em;
    border-radius: .3em;
    height: 2.5em;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &-info-email {
    width: 100%;
    padding: .7em;
    font-size: 1.5em;
    border-radius: .3em;
    height: 2.5em;
    margin-bottom: 1rem;
  }

  &-info-password {
    width: 100%;
    padding: .7em;
    font-size: 1.5em;
    border-radius: .3em;
    height: 2.5em;
    margin-bottom: 1rem;
  }

  

}

@media (min-width:500px) {
 
}

@media (min-width:600px) {

}
