 .cgu {
   background-color: aqua;
 }
 .contact-form{
  background-color: aqua;
 }
 .game-rules{
  background-color: aqua;
 }
.credits{
  background-color: aqua;
}
.legal-mentions{
  background-color: aqua;
}


